@import "~bootstrap/dist/css/bootstrap.min.css";


.container {
    background-color: white;
    padding: 0px 0px 25px 0px;
}
.container-fluid {
    margin: initial;
}

.navbar {
    width: 300px;
}

h3 {
   margin-left: 670px;
}
