@import "~bootstrap/dist/css/bootstrap.min.css";

.container-checkboxes .btn {
    margin-left: 900px;
    background-color:  rgb(104, 103, 103);
    color: white;
    border: 2px solid black;
}

.container-checkboxes .btn:hover {
    background-color: rgb(238,232,170);
    border: 2px solid black;
    color: black;
}

.container-h1 {
    padding: 25px;
    background-image: url('../images/imagen-titulo.jpg');
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: center;
    height: 175px;
    border-radius: 15px;
}

.container-h1 h1 {
    margin-top: 35px;
}

.container-seo {
    background-color: rgb(238,232,170);
    display: flex;
    width: 900px;
    margin: auto;
    border-radius: 15px;
    padding: 15px 5px 15px 5px;
    margin-bottom: 25px;
}

.container-ads {
    margin-top: 25px;
    background-color: rgb(238,232,170);
    display: flex;
    width: 900px;
    margin: auto;
    border-radius: 15px;
    padding: 15px 5px 15px 5px;
    margin-bottom: 25px;
}

.container-web {
    margin-top: 25px;
    background-color: rgb(238,232,170);
    display: flex;
    width: 900px;
    margin: auto;
    border-radius: 15px;
    padding: 15px 5px 15px 5px;
    margin-bottom: 25px;

}
.col-descripcion {
    background-color: transparent;
}

.col-euros {
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.p-cifra {
    margin: auto;
    font-size: 40px;
    margin-right: 2px;
}

.p-euro {
    margin: auto;
    font-size: 15px;
    margin-left: 2px;
    margin-bottom: 12px;
}

.col-check {
    margin: auto;
    margin-top: 40px;
    font-weight: 85px;
}

.check-input {
    margin-left: 150px;
}

.container-precio-presupuestado {
    background-color: transparent;
    margin-right: 10px;
    margin-top: 20px;
}